@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #d7d7d7;
}
.header {
    height: 100px;
    width: 100%;
    background-color: #098CFF;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin: 0px 0px 0px 20px;
    padding: 20px 0px 0px 0px;
}

.added_events {
    height: 400px;
    width: 200px;
    background-color: white;
    top: 180px;
    left: 20px;
    position: absolute;
}

.added_events_title {
    height: 50px;
    width: 200px;
    background-color: #098CFF;
    color: white;
    margin: 20px 0px 0px 20px;
    
}
.search_box {
    border: 4px solid #098CFF;
    height: 50px;
    width: 300px;
    background-color: white;
    margin-top: 20px;
    margin-left: 400px;
    float: left;
    font-size: 30px;
}
#search {
    
}
.timeline_box {
    height: 200px;
    width: 600px;
    background-color: white;
    margin-left: 20px;
}

    

.filler_one {
    height: 50px;
    width: 50px;
    background-color: white;
    margin-top: 20px;
    float: left;
}

.search_button {
    height: 60px;
    width: 140px;
    background-color: #098CFF;
    color: white;
    font-family: 'Lato';
    font-size: 25px;
    float: left; 
    margin-top: 20px;
}

.search_button p {
    margin-top: 15px;
    margin-left: 10px;
}

.search_contain {
    height: auto;
    width: auto;
}
