@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #d7d7d7;
}
.header {
    height: 100px;
    width: 100%;
    background-color: #098CFF;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin: 0px 0px 0px 20px;
    padding: 20px 0px 0px 0px;
}
